<?xml version="1.0" encoding="utf-8" ?>
<fantasy xmlns="http://fantasy.net/config" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://fantasy.net/config Fantasy.xsd">
  <!-- 鈫撹繖鏄负浜嗗吋瀹规棫鐗團antasy鐨勫琛↗son閰嶇疆鈫? 濡傛灉杩欎釜XML鑺傜偣琚敞閲婃帀, 灏变細浠?Fantasy.config 閰嶇疆涓哄噯 -->
  <!--<configTable path="../../../../Config/Json/Server" />-->
  <!-- 鈫撹繖鏄洰鍓嶆帹鑽愪娇鐢ㄧ殑Fantasy妗嗘灦鍚湇閰嶇疆鈫?-->
  <network inner="TCP" maxMessageSize="1048560" />
  <session idleTimeout="8000" idleInterval="5000" />
  <server>
    <!-- 鏈哄櫒閰嶇疆 -->
    <machines>
      <machine id="1" outerIP="127.0.0.1" outerBindIP="127.0.0.1" innerBindIP="127.0.0.1" />
    </machines>
    <!-- 杩涚▼閰嶇疆 -->
    <processes>
      <process id="1" machineId="1" startupGroup="0" />
    </processes>
    <!-- 涓栫晫閰嶇疆 -->
    <worlds>
      <world id="1" worldName="WorldA" >
        <database dbType="MongoDB" dbName="fantasy_main" dbConnection=""/>
      </world>
    </worlds>
    <!-- 鍦烘櫙閰嶇疆 -->
    <scenes>
      <scene id="1001" 
             processConfigId="1" 
             worldConfigId="1" 
             sceneRuntimeMode="MultiThread" 
             sceneTypeString="Gate" 
             networkProtocol="TCP" 
             outerPort="20000" innerPort="11002" />
      <scene id="1101"
             processConfigId="1"
             worldConfigId="1"
             sceneRuntimeMode="MultiThread"
             sceneTypeString="Lobby"
             networkProtocol="TCP"
             outerPort="0" innerPort="11003" />
      <scene id="1201"
             processConfigId="1"
             worldConfigId="1"
             sceneRuntimeMode="MultiThread"
             sceneTypeString="Room"
             networkProtocol="TCP"
             outerPort="0" innerPort="11004" />
      <scene id="1301"
             processConfigId="1"
             worldConfigId="1"
             sceneRuntimeMode="MultiThread"
             sceneTypeString="Battle"
             networkProtocol="KCP"
             outerPort="20001" innerPort="11005" />
    </scenes>
  </server>
</fantasy>
